ErickFramework/.vs/ErickFramework/xs/UserPrefs.xml
ErickFramework/.vs/ErickFramework/xs/project-cache/TestCases-Debug.json
ErickFramework/packages/NUnit.3.12.0/.signature.p7s
ErickFramework/packages/NUnit.3.12.0/CHANGES.md
ErickFramework/packages/NUnit.3.12.0/LICENSE.txt
ErickFramework/packages/NUnit.3.12.0/NOTICES.txt
ErickFramework/packages/NUnit.3.12.0/NUnit.3.12.0.nupkg
ErickFramework/packages/NUnit.3.12.0/build/NUnit.props
ErickFramework/packages/NUnit.3.12.0/lib/net35/nunit.framework.dll
ErickFramework/packages/NUnit.3.12.0/lib/net35/nunit.framework.pdb
ErickFramework/packages/NUnit.3.12.0/lib/net35/nunit.framework.xml
ErickFramework/packages/NUnit.3.12.0/lib/net40/nunit.framework.dll
ErickFramework/packages/NUnit.3.12.0/lib/net40/nunit.framework.pdb
ErickFramework/packages/NUnit.3.12.0/lib/net40/nunit.framework.xml
ErickFramework/packages/NUnit.3.12.0/lib/net45/nunit.framework.dll
ErickFramework/packages/NUnit.3.12.0/lib/net45/nunit.framework.pdb
ErickFramework/packages/NUnit.3.12.0/lib/net45/nunit.framework.xml
ErickFramework/packages/NUnit.3.12.0/lib/netstandard1.4/nunit.framework.dll
ErickFramework/packages/NUnit.3.12.0/lib/netstandard1.4/nunit.framework.pdb
ErickFramework/packages/NUnit.3.12.0/lib/netstandard1.4/nunit.framework.xml
ErickFramework/packages/NUnit.3.12.0/lib/netstandard2.0/nunit.framework.dll
ErickFramework/packages/NUnit.3.12.0/lib/netstandard2.0/nunit.framework.pdb
ErickFramework/packages/NUnit.3.12.0/lib/netstandard2.0/nunit.framework.xml
ErickFramework/TestCases/bin/Debug/nunit.framework.dll
ErickFramework/TestCases/bin/Debug/nunit.framework.pdb
ErickFramework/TestCases/bin/Debug/nunit.framework.xml
ErickFramework/TestCases/bin/Debug/TestCases.dll
ErickFramework/TestCases/bin/Debug/TestCases.pdb
ErickFramework/TestCases/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ErickFramework/TestCases/obj/Debug/TestCases.csproj.CopyComplete
ErickFramework/TestCases/obj/Debug/TestCases.csproj.CoreCompileInputs.cache
ErickFramework/TestCases/obj/Debug/TestCases.csproj.FileListAbsolute.txt
ErickFramework/TestCases/obj/Debug/TestCases.csprojAssemblyReference.cache
ErickFramework/TestCases/obj/Debug/TestCases.dll
ErickFramework/TestCases/obj/Debug/TestCases.pdb
ErickFramework/.vs/ErickFramework/xs/project-cache/Framework-Debug.json
ErickFramework/Framework/Framework.csproj.user
ErickFramework/Framework/bin/Debug/Framework.dll
ErickFramework/Framework/bin/Debug/Framework.pdb
ErickFramework/Framework/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ErickFramework/Framework/obj/Debug/Framework.csproj.CoreCompileInputs.cache
ErickFramework/Framework/obj/Debug/Framework.csproj.FileListAbsolute.txt
ErickFramework/Framework/obj/Debug/Framework.csprojAssemblyReference.cache
ErickFramework/Framework/obj/Debug/Framework.dll
ErickFramework/Framework/obj/Debug/Framework.pdb
ErickFramework/Framework/bin/Debug/chromedriver
ErickFramework/Framework/bin/Debug/WebDriver.dll
ErickFramework/Framework/bin/Debug/WebDriver.Support.dll
ErickFramework/Framework/bin/Debug/WebDriver.Support.xml
ErickFramework/Framework/bin/Debug/WebDriver.xml
ErickFramework/Framework/obj/Debug/Framework.csproj.CopyComplete
ErickFramework/packages/Selenium.Support.3.141.0/.signature.p7s
ErickFramework/packages/Selenium.Support.3.141.0/Selenium.Support.3.141.0.nupkg
ErickFramework/packages/Selenium.Support.3.141.0/lib/net35/WebDriver.Support.dll
ErickFramework/packages/Selenium.Support.3.141.0/lib/net35/WebDriver.Support.xml
ErickFramework/packages/Selenium.Support.3.141.0/lib/net40/WebDriver.Support.dll
ErickFramework/packages/Selenium.Support.3.141.0/lib/net40/WebDriver.Support.xml
ErickFramework/packages/Selenium.Support.3.141.0/lib/net45/WebDriver.Support.dll
ErickFramework/packages/Selenium.Support.3.141.0/lib/net45/WebDriver.Support.xml
ErickFramework/packages/Selenium.Support.3.141.0/lib/netstandard2.0/WebDriver.Support.dll
ErickFramework/packages/Selenium.Support.3.141.0/lib/netstandard2.0/WebDriver.Support.xml
ErickFramework/packages/Selenium.WebDriver.3.141.0/.signature.p7s
ErickFramework/packages/Selenium.WebDriver.3.141.0/Selenium.WebDriver.3.141.0.nupkg
ErickFramework/packages/Selenium.WebDriver.3.141.0/lib/net35/WebDriver.dll
ErickFramework/packages/Selenium.WebDriver.3.141.0/lib/net35/WebDriver.xml
ErickFramework/packages/Selenium.WebDriver.3.141.0/lib/net40/WebDriver.dll
ErickFramework/packages/Selenium.WebDriver.3.141.0/lib/net40/WebDriver.xml
ErickFramework/packages/Selenium.WebDriver.3.141.0/lib/net45/WebDriver.dll
ErickFramework/packages/Selenium.WebDriver.3.141.0/lib/net45/WebDriver.xml
ErickFramework/packages/Selenium.WebDriver.3.141.0/lib/netstandard2.0/WebDriver.dll
ErickFramework/packages/Selenium.WebDriver.3.141.0/lib/netstandard2.0/WebDriver.xml
ErickFramework/packages/Selenium.WebDriver.ChromeDriver.2.41.0/.signature.p7s
ErickFramework/packages/Selenium.WebDriver.ChromeDriver.2.41.0/Selenium.WebDriver.ChromeDriver.2.41.0.nupkg
ErickFramework/packages/Selenium.WebDriver.ChromeDriver.2.41.0/build/Selenium.WebDriver.ChromeDriver.targets
ErickFramework/packages/Selenium.WebDriver.ChromeDriver.2.41.0/driver/linux64/chromedriver
ErickFramework/packages/Selenium.WebDriver.ChromeDriver.2.41.0/driver/mac64/chromedriver
ErickFramework/packages/Selenium.WebDriver.ChromeDriver.2.41.0/driver/win32/chromedriver.exe
ErickFramework/packages/WebDriver.ChromeDriver.26.14.313457.1/.signature.p7s
ErickFramework/packages/WebDriver.ChromeDriver.26.14.313457.1/WebDriver.ChromeDriver.26.14.313457.1.nupkg
ErickFramework/packages/WebDriver.ChromeDriver.26.14.313457.1/tools/ChromeDriver.exe
ErickFramework/TestCases/bin/Debug/Framework.dll
ErickFramework/TestCases/bin/Debug/Framework.pdb
ErickFramework/TestCases/bin/Debug/WebDriver.dll
ErickFramework/TestCases/bin/Debug/WebDriver.xml
ErickFramework/Framework/bin/Debug/SeleniumExtras.PageObjects.dll
ErickFramework/packages/DotNetSeleniumExtras.PageObjects.3.11.0/.signature.p7s
ErickFramework/packages/DotNetSeleniumExtras.PageObjects.3.11.0/DotNetSeleniumExtras.PageObjects.3.11.0.nupkg
ErickFramework/packages/DotNetSeleniumExtras.PageObjects.3.11.0/lib/net35/SeleniumExtras.PageObjects.dll
ErickFramework/packages/DotNetSeleniumExtras.PageObjects.3.11.0/lib/net40/SeleniumExtras.PageObjects.dll
ErickFramework/packages/DotNetSeleniumExtras.PageObjects.3.11.0/lib/net45/SeleniumExtras.PageObjects.dll
ErickFramework/packages/DotNetSeleniumExtras.PageObjects.3.11.0/lib/netstandard2.0/SeleniumExtras.PageObjects.dll
ErickFramework/packages/Selenium.WebDriver.ChromeDriver.89.0.4389.2300/.signature.p7s
ErickFramework/packages/Selenium.WebDriver.ChromeDriver.89.0.4389.2300/nupkg-icon.png
ErickFramework/packages/Selenium.WebDriver.ChromeDriver.89.0.4389.2300/Selenium.WebDriver.ChromeDriver.89.0.4389.2300.nupkg
ErickFramework/packages/Selenium.WebDriver.ChromeDriver.89.0.4389.2300/build/DefinePropertiesChromeDriver.targets
ErickFramework/packages/Selenium.WebDriver.ChromeDriver.89.0.4389.2300/build/Selenium.WebDriver.ChromeDriver.targets
ErickFramework/packages/Selenium.WebDriver.ChromeDriver.89.0.4389.2300/driver/linux64/chromedriver
ErickFramework/packages/Selenium.WebDriver.ChromeDriver.89.0.4389.2300/driver/mac64/chromedriver
ErickFramework/packages/Selenium.WebDriver.ChromeDriver.89.0.4389.2300/driver/win32/chromedriver.exe
ErickFramework/TestCases/bin/Debug/chromedriver
ErickFramework/TestCases/bin/Debug/SeleniumExtras.PageObjects.dll
ErickFramework/TestCases/bin/Debug/WebDriver.Support.dll
ErickFramework/TestCases/bin/Debug/WebDriver.Support.xml
ErickFramework/Framework/bin/Debug/nunit.framework.dll
ErickFramework/Framework/bin/Debug/nunit.framework.xml
ErickFramework/packages/NUnit.3.13.1/.signature.p7s
ErickFramework/packages/NUnit.3.13.1/CHANGES.md
ErickFramework/packages/NUnit.3.13.1/icon.png
ErickFramework/packages/NUnit.3.13.1/LICENSE.txt
ErickFramework/packages/NUnit.3.13.1/NOTICES.txt
ErickFramework/packages/NUnit.3.13.1/NUnit.3.13.1.nupkg
ErickFramework/packages/NUnit.3.13.1/build/NUnit.props
ErickFramework/packages/NUnit.3.13.1/lib/net35/nunit.framework.dll
ErickFramework/packages/NUnit.3.13.1/lib/net35/nunit.framework.xml
ErickFramework/packages/NUnit.3.13.1/lib/net40/nunit.framework.dll
ErickFramework/packages/NUnit.3.13.1/lib/net40/nunit.framework.xml
ErickFramework/packages/NUnit.3.13.1/lib/net45/nunit.framework.dll
ErickFramework/packages/NUnit.3.13.1/lib/net45/nunit.framework.xml
ErickFramework/packages/NUnit.3.13.1/lib/netstandard2.0/nunit.framework.dll
ErickFramework/packages/NUnit.3.13.1/lib/netstandard2.0/nunit.framework.xml
ErickFramework/packages/NUnit3TestAdapter.3.12.0/.signature.p7s
ErickFramework/packages/NUnit3TestAdapter.3.12.0/LICENSE.txt
ErickFramework/packages/NUnit3TestAdapter.3.12.0/NUnit3TestAdapter.3.12.0.nupkg
ErickFramework/packages/NUnit3TestAdapter.3.12.0/build/net35/nunit.engine.api.dll
ErickFramework/packages/NUnit3TestAdapter.3.12.0/build/net35/nunit.engine.dll
ErickFramework/packages/NUnit3TestAdapter.3.12.0/build/net35/NUnit3.TestAdapter.dll
ErickFramework/packages/NUnit3TestAdapter.3.12.0/build/net35/NUnit3.TestAdapter.pdb
ErickFramework/packages/NUnit3TestAdapter.3.12.0/build/net35/NUnit3TestAdapter.props
ErickFramework/packages/NUnit3TestAdapter.3.12.0/build/netcoreapp1.0/nunit.engine.netstandard.dll
ErickFramework/packages/NUnit3TestAdapter.3.12.0/build/netcoreapp1.0/NUnit3.TestAdapter.dll
ErickFramework/packages/NUnit3TestAdapter.3.12.0/build/netcoreapp1.0/NUnit3.TestAdapter.pdb
ErickFramework/packages/NUnit3TestAdapter.3.12.0/build/netcoreapp1.0/NUnit3TestAdapter.props
ErickFramework/TestCases/bin/Debug/nunit.engine.api.dll
ErickFramework/TestCases/bin/Debug/nunit.engine.dll
ErickFramework/TestCases/bin/Debug/NUnit3.TestAdapter.dll
ErickFramework/TestCases/bin/Debug/NUnit3.TestAdapter.pdb
