ErickFramework/.vs/ErickFramework/xs/UserPrefs.xml
ErickFramework/.vs/ErickFramework/xs/project-cache/TestCases-Debug.json
ErickFramework/packages/NUnit.3.12.0/.signature.p7s
ErickFramework/packages/NUnit.3.12.0/CHANGES.md
ErickFramework/packages/NUnit.3.12.0/LICENSE.txt
ErickFramework/packages/NUnit.3.12.0/NOTICES.txt
ErickFramework/packages/NUnit.3.12.0/NUnit.3.12.0.nupkg
ErickFramework/packages/NUnit.3.12.0/build/NUnit.props
ErickFramework/packages/NUnit.3.12.0/lib/net35/nunit.framework.dll
ErickFramework/packages/NUnit.3.12.0/lib/net35/nunit.framework.pdb
ErickFramework/packages/NUnit.3.12.0/lib/net35/nunit.framework.xml
ErickFramework/packages/NUnit.3.12.0/lib/net40/nunit.framework.dll
ErickFramework/packages/NUnit.3.12.0/lib/net40/nunit.framework.pdb
ErickFramework/packages/NUnit.3.12.0/lib/net40/nunit.framework.xml
ErickFramework/packages/NUnit.3.12.0/lib/net45/nunit.framework.dll
ErickFramework/packages/NUnit.3.12.0/lib/net45/nunit.framework.pdb
ErickFramework/packages/NUnit.3.12.0/lib/net45/nunit.framework.xml
ErickFramework/packages/NUnit.3.12.0/lib/netstandard1.4/nunit.framework.dll
ErickFramework/packages/NUnit.3.12.0/lib/netstandard1.4/nunit.framework.pdb
ErickFramework/packages/NUnit.3.12.0/lib/netstandard1.4/nunit.framework.xml
ErickFramework/packages/NUnit.3.12.0/lib/netstandard2.0/nunit.framework.dll
ErickFramework/packages/NUnit.3.12.0/lib/netstandard2.0/nunit.framework.pdb
ErickFramework/packages/NUnit.3.12.0/lib/netstandard2.0/nunit.framework.xml
ErickFramework/TestCases/bin/Debug/nunit.framework.dll
ErickFramework/TestCases/bin/Debug/nunit.framework.pdb
ErickFramework/TestCases/bin/Debug/nunit.framework.xml
ErickFramework/TestCases/bin/Debug/TestCases.dll
ErickFramework/TestCases/bin/Debug/TestCases.pdb
ErickFramework/TestCases/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ErickFramework/TestCases/obj/Debug/TestCases.csproj.CopyComplete
ErickFramework/TestCases/obj/Debug/TestCases.csproj.CoreCompileInputs.cache
ErickFramework/TestCases/obj/Debug/TestCases.csproj.FileListAbsolute.txt
ErickFramework/TestCases/obj/Debug/TestCases.csprojAssemblyReference.cache
ErickFramework/TestCases/obj/Debug/TestCases.dll
ErickFramework/TestCases/obj/Debug/TestCases.pdb
ErickFramework/.vs/ErickFramework/xs/project-cache/Framework-Debug.json
ErickFramework/Framework/Framework.csproj.user
ErickFramework/Framework/bin/Debug/Framework.dll
ErickFramework/Framework/bin/Debug/Framework.pdb
ErickFramework/Framework/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ErickFramework/Framework/obj/Debug/Framework.csproj.CoreCompileInputs.cache
ErickFramework/Framework/obj/Debug/Framework.csproj.FileListAbsolute.txt
ErickFramework/Framework/obj/Debug/Framework.csprojAssemblyReference.cache
ErickFramework/Framework/obj/Debug/Framework.dll
ErickFramework/Framework/obj/Debug/Framework.pdb
